<div id="<%= dom_id tutorial %>" class=" mb-3">

  <div class="row tutorial-title">

  <% if tutorial.icon != "none selected" && tutorial.icon != ""%>
    <%= image_tag "#{tutorial.icon}", class:"col icon" %>
  <% else %>
    <%= image_tag "TUTORIAL_ICON.png", class:"col icon" %>
  <% end %>

  <%= link_to tutorial.title, tutorial, class:"col px-2 text-muted" %>

  </div>
</div>
