
.dashboard.root {

  #edit-topic-btn {
    position: absolute;

            right: calc(10% + 38px);
            opacity: 0.4;
            &:hover {
              opacity: 1.0;
            }

  }

  .topic {
    border-style: solid;
    border-width: 1px;

  }

  img {
    object-fit: cover;
    overflow-clip-margin: content-box;
    overflow: clip;
  }
}

:root {
  .dashboard-btn {
    max-width: 80px;
    position: absolute;

            right: calc(50% - 80px);
            opacity: 0.0;
            &:hover {
              opacity: 0.5;
            }
  }
}
