

.tutorials.index {
  .tutorial-small {
    margin: 5px;
    padding: 10px;
  }
}

.tutorials.edit {
  .tutorial-headers {
    max-width: 30%;

    border-right-style: solid;
  }

  .tutorial-topics {
    max-width: 400px;
  }
}

:root {
  .tutorial-description {
    color: gray;
  }

  .tutorial-title {
    img {
      object-fit: contain;
      overflow-clip-margin: content-box;
      overflow: clip;
      max-width: 50px;
    }

    margin-left: 4%;
  }
}


.topics.show {
  .archived-tutorials {
    max-width: 20%;
  }
}
