/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// more code highlight styles: https://github.com/highlightjs/highlight.js/blob/main/src/styles/


$primary:  #e82e3d;

@import "bootstrap";
@import "topics";
@import "tutorials";
@import "materials";
@import "atom-one-dark";
@import "external_links";


:root {
  background-color: #f4e7d8;

  .center-content {
      max-width: 860px;
      margin-bottom: 0px;
    }

  .publicize {
    position: relative;
            right: calc(-50% + 38px);
            opacity: 0.4;
            &:hover {
              opacity: 1.0;
            }

    max-width: 100px;
  }

  .select-card {
    border-radius: 10px;
  }

  .about-card {
    border-width: 0px;
    margin-top: 10px;
  }
  #portrait {

    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;


    background-color: $primary;
    img {
      max-width: 120px;
      padding: 10px;
      margin-bottom: 30px;
    }
    .about-body {
      padding: 10px;
        margin: 10px;
      background-color: white;
    }
  }

}
